POSTGRES_PASSWORD=
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=
NEXTAUTH_URL=http://localhost:3000 
NEXTAUTH_SECRET=https://generate-secret.vercel.app/32
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
NEXT_PUBLIC_TDT_API_URL=http://tdt_backend:8080/api
NEXT_PUBLIC_NEXT_CONFIG_BASE_PATH=/tdt
GITHUB_TOKEN=ghp_xxx
ADMIN_SECRET=https://generate-secret.vercel.app/32
NEXT_PUBLIC_TOKEN_SECRET= # https://generate-secret.vercel.app/32
